<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="shortcut icon" type="image/png" href="public/img/quoc-icon-02.png">

    <title>QUOC &mdash; Ride Beautifully.</title>
</head>

<body>
    <nav class="user-nav">
        <span class="logo-box">
            <a href="/">
                <img src="../public/img/quoc-icon-03.svg" alt="" class="logo">
            </a>
        </span>
        <span class="icon-box">
            <a href="/" class="icon-box__link">HOME</a>
            <a href="/about" class="icon-box__link">ABOUT</a>
            <a href="/product" class="icon-box__link">SHOP</a>
            <div class="icon-box__bag-group">
                <span class="icon-box__qty">2</span>
                <img class="icon-box__bag" src="../public/img/shopping-bag.svg" alt="">
            </div>
        </span>
    </nav>