// * Buttons // 

.btn {
    padding: 1rem 4rem;
    font-size: 2rem;
    text-transform: uppercase;
    border: none !important;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    @media only screen and (max-width: $bp-med-sm) {
        padding: .75rem 3rem;
        font-size: 1.5rem;
    }

    &--pink {
        background-color: var(--color-primary);
    }
    
    &--black {
        background-color: var(--text-color-primary);
    }

    &--submit {
        background-color: var(--text-color-primary);
        color: var(--color-white-1);

        &:active {
            background-color: var(--color-black-1);
            transform: translateY(2px);
        }

        &:hover {
            opacity: .85;
        }

        @media only screen and (max-width: $bp-largest) {
            font-size: 1.5rem;
        }

        @media only screen and (max-width: $bp-sm-med) {
            padding: 1rem 2rem;
        }
    }
}

.size-selector {
    padding: 1rem 2rem;
    background-color: var(--color-white-1);
    font-size: 1.5rem;

    @media only screen and (max-width: $bp-sm-med) {
        padding: .75rem 1.5rem;
        font-size: 1.25rem;
    }
}