<% include partials/header %>

    <section class="section-hero">
        <div class="hero">
            <div class="hero-left">
                <h1 class="hero-left__title heading-primary">All New | Night Series</h1>
                <h4 class="hero-left__text heading-sub">Proven performance for the mountains ahead, and all day comfort
                    for the long road behind.</h4>
                <span class="hero-left__sub-text hero-splash">Ride With</span>
                <div class="hero-left__btn-container">
                    <button href="/product" class="hero-left__btn--1 btn btn--pink">Custom</button>
                    <button href="/product" class="hero-left__btn--2 btn btn--black">Shop</button>
                </div>
            </div>
            <div class="hero-right">
                <!-- <span class="hero-right__sub-text hero-splash hero-splash--pink">Panache</span> -->
            </div>
        </div>
    </section>

<% include partials/footer %>