<% include partials/header %>


<section class="section-product">
    <div class="product">
        <div class="product-image">
            <div class="product-image__half-1"></div>
            <div class="product-image__half-2"></div>
            <div class="product-image__selector">
                <svg class="product-image__selector-left">
                    <use xlink:href="img/sprite.svg#icon-chevron-left"></use>
                </svg>
                <svg class="product-image__selector-right">
                    <use xlink:href="public/img/sprite.svg#icon-chevron-right"></use>
                </svg>
            </div>
        </div>
        <div class="product-detail">
            <h2 class="product-detail__title heading-primary">QUOC | Night Road</h2>
            <div class="product-detail__middle">
                <div class="product-detail__color-select">
                    <span class="product-detail__colors-1"></span>
                    <span class="product-detail__colors-2"></span>
                    <span class="product-detail__colors-3"></span>
                </div>
                <h3 class="product-detail__info-title heading-primary">A Refreshing Return to <span>Simplicity</span>
                </h3>
                <span class="product-detail__divider"></span>
                <p class="product-detail__info gen-content">The Quoc Night bike shoe collection offers outstanding
                    performance and luxurious all-day ride comfort. Utilising our
                    patent-pending lacing technique to create a sure, comfort-enhancing fit, the Night lays down mile
                    after mile of
                    power-preserving pedal performance through a marbled carbon-fibre composite outsole, of which not
                    two pairs are alike.
                    In hot conditions, underside and upper vent zones help to channel air, cooling your feet throughout
                    even the most
                    challenging of rides.
                    <span>
                        <br>
                        <br>
                        Crafted with an EVA foam footbed and a moisture-absorbing, anti-odour microfibre top layer, the
                        Night series
                        demonstrates that performance does not have to come at the cost of comfort.
                        <br>
                        <br>
                        Replaceable heel pads and a 3-bolt road pedal compatible cleat point complete the shoe.
                    </span>
                </p>
            </div>
            <form class="product-detail__options">
                <h3 class="product-detail__price">$229<sup class="product-detail__price-suf">.00</sup></h3>
                <div class="product-detail__size-select size-selector">
                    UK 44 // US 10.5
                    <!-- <a href="" class="size">UK 44 // US 10.5</a> -->
                    <a href="" class="size"></a>
                    <a href="" class="size"></a>
                    <a href="" class="size"></a>
                    <a href="" class="size"></a>
                    <a href="" class="size"></a>
                    <a href="" class="size"></a>
                    <a href="" class="size"></a>
                    <a href="" class="size"></a>
                    <a href="" class="size"></a>
                </div>
                <button class=" product-detail__submit btn btn--submit">Add to Cart</button>
        </div>
        </form>
    </div>
</section>




<% include partials/footer %>